/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/navbar.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.navbar_navBar___ozuu {
    background-color: #C16C47;
    padding: 15px;
}

.navbar_brand__l39JF {
    color: white;
    margin-right: 20px;
}

.navbar_navLinks__tA_zp {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar_navLinks__tA_zp li {
    display: inline-block;
    margin-right: 20px;
    color: white;
}

.navbar_container__mvkMD {
    display: flex;
    align-items: center;
}

.navbar_navLinks__tA_zp li a:hover {
    color: lightgray;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/settings/settings.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.settings_mainContainer__ai1KN {
    display: flex;
    background-color: #FFE1C5;
    min-height: 100vh;
}

.settings_heading1__rarx6 {
    color: #C16C47;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.settings_main__je9_z {
    font-family: 'Montserrat';
}
